@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

@import 'tailwindcss';

body {
  @apply scroll-smooth;
  background-size: cover;
  font-family: 'Courier Prime', sans-serif;
  background-image: url('./assets/night.gif');
  background-position: 'center';
}

@theme {
  --font-lime: 'Limelight', sans-serif;
  --font-cursive: 'League Script', sans-serif;
  --font-script: 'Courier Prime', sans-serif;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
